# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=my-secret-dev-key123
JWT_EXPIRES_IN=7d

# Portas
PORT_API=3000
PORT_POSTGRES=5433
PORT_REDIS=6379
PORT_PRISMA_STUDIO=5555
