# Banco de Dados
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommerce

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=minha-chave-secreta-dev-123

# Porta da API
PORT_API=3000
PORT_POSTGRES=5432
PORT_REDIS=6379
